#header {
    font-size: 4em;
    text-align: center;
    position: relative;
    top: 20%;
}

body, html{
    width:100%;
    height:80%;
    background: thistle;
}

#buttons {
    height:100%;
    width:70%;
    position : relative;
    background: lightgrey;
    margin: 15% auto;
    margin-top: 25 %;
    top: -100px;
    background: orchid;
}

#blueSquare {
    width: 20%;
    height: 180px;
    float:center;
    top: 5%;
    margin: 5% auto;
    text-align: center;
    background: royalblue;
}


#pianokeys {
    
    position: relative;
    float: center;
}

